{% extends 'base.html' %}
	{% block content %}
		<h1>SISPAN</h1>
		{% if pedidos %}
			<table class="table table-bordered">
				<thead>
					<tr>
						<td>#</td>
						<td>Nombre</td>
						<td>Email</td>
					</tr>		
				</thead>
				<tbody>
					{% for pedido in pedidos %}
					<tr>
						<td>{{ pedido.id }}</td>
						<td>{{ pedido.nombre }}</td>
						<td>{{ pedido.email }}</td>
						<td>
							<a class="btn btn-primary" href="{% url 'pedido:pedido_editar' pedido.id %}">Editar</a>
							<a class="btn btn-danger" href="{% url 'pedido:pedido_eliminar' pedido.id %}">Eliminar</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table> 
		{% else %}
			<p>No existen registros</p>
		{% endif %}
	{% endblock%}

